.form {
  display: flex;
  border: 2px solid #d3d3d3;
}

.chat-input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6600;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 20%;
}

.sendButton:hover {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
}
